{% extends "base.html" %}
{% block title %}Login | Arogya{% endblock %}

{% block content %}

<div class="auth-wrapper">
  <div class="auth-card-new">
    <h2 class="auth-title">Welcome Back 👋</h2>
    <p class="auth-sub">Login to continue tracking your health.</p>

    <form method="POST" class="auth-form">

      <div class="auth-field">
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
      </div>

      <div class="auth-field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" required>
      </div>

      <button type="submit" class="btn-primary full">Login</button>

      <p class="auth-small">
        Don’t have an account?
        <a href="/signup">Sign up</a>
      </p>

    </form>
  </div>
</div>

{% endblock %}